/*
Project-specific styles. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Dark mode enhancements
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';
@import 'td/extra/buttons';
@import 'td/extra/main-container';



// Example of color tuning

.td-box--primary {
  // TODO: rework the td-box--* classes so that they don't override `color`;
  // otherwise we can't use Bootstrap's CSS variables:
  // --bs-link-color: $color !important;
  // --bs-link-color-rgb: red !important;
  a {
    color: tint-color($primary, 80%) !important;
  }
}

/* .container-fluid { */
/*   @extend .container; */
/* } */

.td-hero-block {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@if $enable-dark-mode {
  [data-bs-theme='light'] {
    .td-footer {
        background-color: #111827 !important;
    }
  }
  [data-bs-theme='dark'] {
    body, .td-navbar, .td-footer {
        background-color: #111827 !important;
    }
  }
}

.td-max-width-on-larger-screens {
  @include media-breakpoint-up(lg) {
    max-width: 96%;
  }
}

h2.feedback--title {
  margin-top: 2em;
}

nav.foldable-nav .with-child {
    /* padding: 1.5em !important; */
}

ul.ul-2 li.without-child {
    padding-left: 0 !important;
    /* border-bottom: 1px solid var(--bs-border-color); */
}
