/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

/* $td-enable-google-fonts: true; */
/* $td-google-font-name: 'Inter'; */
/* $td-google-font-family: 'Inter:300,300i,400,400i,700,700i'; */

$primary: #007d9c;
$info: #007d9c;


$enable-dark-mode: false;
$body-bg: #ffffff;
$body-color: #1f2937;
$td-navbar-bg-color: #ffffff;
