/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

/* $td-enable-google-fonts: true; */
/* $td-google-font-name: 'Inter'; */
/* $td-google-font-family: 'Inter:300,300i,400,400i,700,700i'; */

$primary: #00ADD8;
$info: #00ADD8;

