title: Docs
description: "A Go microservices framework"
baseurl: "" # served at root; docs under /docs/ paths
url: "https://go-micro.dev" # domain host


# Enable syntax highlighting
highlighter: rouge
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    line_numbers: false
