{{define "content"}}
{{if .ServiceName}}
  <h2 class="text-xl font-bold mb-2">{{.ServiceName}}</h2>
  <h4 class="font-semibold mb-2">Endpoints</h4>
  {{if .Endpoints}}
      {{range .Endpoints}}
      <div><a href="{{.Path}}" class="micro-link">{{.Name}}</a></div>
      {{end}}
  {{else}}
      <p>No endpoints registered</p>
  {{end}}
  <h4 class="font-semibold mt-4 mb-2">Description</h4>
  <pre class="bg-gray-100 rounded p-2">{{.Description}}</pre>
{{else}}
  <h2 class="text-2xl font-bold mb-4">Services</h2>
  {{if .Services}}
      <ul class="no-bullets">
      {{range .Services}}
          <li><a href="/{{.}}" class="micro-link">{{.}}</a></li>
      {{end}}
      </ul>
  {{else}}
      <p>No services registered</p>
  {{end}}
{{end}}
{{end}}
